@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Roboto:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    background-color: whitesmoke;
}
.navbar{
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.177);
}
.cont-nav{
display: flex;
padding: 0px 70px;
gap: 600px;
background-color : whitesmoke;
}
.nav-linke,.nav-link{
    margin-left: 20px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}
.nav-link:hover{
    color:black;

}
.nav-linke:hover{
    color: #d12326;
}
.nav-left{
    height: 100%;
    display: flex;
    justify-content: end;
}
.over{
    color: #d12326;
}
p{
    color: #d12326;
}
.titl{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
}
.form-control{
    height: 60px;
    width: 700px;
    background-color: #d0242763 ;
}
.form-check-input:checked {
    background-color: #d12326;
    border-color: #d12326;
}
.form-floating>.form-control {
    height: 100px;

}
.day {
    margin-bottom: 50px;
    margin-top: 100px;
    padding-left: 50px;
}
.day-title {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 10px;  
}
.activity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.activity-info{
    padding-left: 10px;
}
.activity-prosses {
    height: 50px;
    width: 10px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}
.activity-name {
    font-weight: bold;
}
.activity-duration {
    color: #666;
}